// TYPOGRAPHY --------------------------------------------------

$main-font: 'Montserrat', sans-serif;
$main-font-2: 'Caveat', cursive;
$main-font-3: 'Special Elite', cursive;;
$main-font-4: 'Parisienne', cursive;;
