@mixin flexContainer(
  $ai: center,
  $jc: center,
  $fd: row,
  $fw: nowrap,
  $ac: initial
) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
  flex-wrap: $fw;
  align-content: $ac;
}

@mixin flexItem(
  $fg: 0,
  $fb: auto,
  $fs: 1,
  $order: 0,
  $as: auto
) {
  flex-grow: $fg;
  flex-basis: $fb;
  flex-shrink: $fs;
  order: $order;
  align-self: $as;
}
