@import './../../scss/all.scss';

.header {
    background-image: linear-gradient(to bottom, rgba($color-7, .6),rgba($color-7, .0));
    height: auto;
    padding: 20px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: 400ms all ease-in-out;

    &.fixed {
        background-color: rgba($color-7, .8);
        backdrop-filter: blur(6px);
        background-image: none;
        padding: 15px 0;

        .header__logo {
            a {
                color: $color-1;
                font-size: 18px;
            }
        }

        .header__menu {
            a {
                color: $color-1;
                
                &:hover {
                    color: $color-2;
                    // background-color: $black;
                }
            }
        }
        
    }
    
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    &__logo {
        a {
            font-size: $font-size-xxl;
            text-transform: uppercase;
            color: $color-4;
            font-weight: $font-weight-700;
            transition: 400ms all ease-in-out;
        }
    }

    &:not(.fixed) {
        .highlight {
            background-color: rgba($color-7, .6);
            display: flex;
            border-radius: 4px;

            &:hover {
                background-color: $color-6;
            }
            
            a {
                color: $color-1;
                &::after {
                    display: none;
                }
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        
        a {
            padding: 6px 12px;
            color: $color-4;
            font-weight: $font-weight-600;
            font-size: $font-size-sm;
            transition: 200ms all ease-in-out;
            position: relative;
            
            &:hover {
                color: $color-2;

                &::after {
                    // height: 2px;
                    // width: calc(100% - 24px);
                    transform: scale3d(1,1,1);
                    transform-origin: 0 50%;
                }
            }
    
            &::after {
                content: "";
                width: calc(100% - 24px);
                height: 2px;
                background-color: $color-2;
                border-radius: 2px;
                position: absolute;
                bottom: -2px;
                left: 12px;
                opacity: 1;
                transition: transform .35s cubic-bezier(.2,1,.3,1);
                transform: scale3d(0,1,1);
                transform-origin: 100% 50%;

            }
        }
    }

}