%container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1330px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    padding: 0;
  }
}

%container-large {
  margin: 0 auto !important;

  // @media (min-width: $screen-xlg) {
  //   width: 90%;
  //   max-width: 1366px;
  //   min-width: $screen-xlg - 36;
  // }
  // @media (min-width: $screen-lp) and (max-width: $screen-lg-max) {
  //   width: 95%;
  //   max-width: $screen-lg-max;
  //   min-width: $screen-lp-min;
  // }
}

%container-extra-large {
  margin: 0 auto !important;

  // @media (min-width: $screen-xxlg) {
  //   width: 90%;
  //   max-width: 1450px;
  //   min-width: $screen-xxlg - 48;
  // }
}

%container-full {
  margin: 0 auto !important;

  // @media (min-width: $screen-full) {
  //   width: 100%;
  //   max-width: 1920px;
  //   min-width: $screen-full - 64;
  // }
}
