@import './../../scss/all.scss';

.banner {
    background-color: rgba($color-7, $alpha: .8);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    &__image {
        max-width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        
    }

    &__tree {
        width: 105vw;
        position: absolute;
        top: 0;
    }

    &__button {
        @include fade("in","right", 200px, 4s);
        position: absolute;

        a {
            color: $color-7;
            background-color: $color-1;
            // border: 1px solid $color-1;
            font-size: 26px;
            padding: 10px 20px;
            font-weight: 600;
            font-family: $main-font-2;
            transition: 600ms all $transition-time;
            white-space: nowrap;
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: $color-7;
                color: $color-1;
                
                img {
                    max-height: 20px;
                    margin-top: 10px;
                }
            }
        }

        &__arrow {
            position: absolute;
            top: 100%;
            left: 0;
            max-height: 0px;
            transition: 300ms all cubic-bezier(0.13, 1.02, 0.32, 0.97);
            transform: rotate(-90deg);
            width: 20px;
        }
    }

    &__arrow {
        @include fade("in","up", 200px, 1s);
        background-color: rgba($color-7, $alpha: .5);
        position: absolute;
        bottom: 0;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;


        p {
            color: $color-4;
            font-weight: $font-weight-600;
        }

        img {
            width: 40px;
            height: auto;
        }

        &--left {
            cursor: pointer;
            transition: 800ms all cubic-bezier(0.08, 0.96, 0.29, 0.96);
            transform: translateX(0px);


            &:hover {
                transform: translateX(-10px);
            }
        }

        &--right {
            cursor: pointer;
            transition: 800ms all cubic-bezier(0.08, 0.96, 0.29, 0.96);
            transform: translateX(0px);


            &:hover {
                transform: translateX(10px);
            }
        }
    }


    &__text {
        position: absolute;
        top: 45%;
        left: 5%;

        h1 {
            color: $color-4;
            font-size: 82px;
            font-weight: $font-weight-500;

            @include fade("in","right", 200px, 2s);
        }
    }

}