@import './../../scss/all.scss';

.banner {
    background-color: paleturquoise;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &__tree {
        width: 105vw;
        position: absolute;
        top: 0;
    }


    &__text {
        position: absolute;
        top: 45%;
        left: 5%;

        h1 {
            color: $color-4;
            font-size: 192px;
            font-family: $main-font-2;
            font-weight: $font-weight-500;

            @include fade("in","right", 200px, 2s);
        }
    }

}